js
gmon.out
test.js
cache
.config
src/config/config.h
src/ucdata.h
config.log
.sconf_temp
tools/*.pyc
src/phonic/ext/include/
src/phonic/Manifest.txt
src/phonic/lib/iv/phonic.so
src/phonic/ext/iv/phonic/third_party
test/sputnik/sputniktests/
*.sdf
*.vcxproj.user
*.opensdf
*.suo
ipch/
Release/
Debug/
out/

.DS_Store
i*.swp
*~.nib

*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside

.waf-*
.lock-*

# CMake
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
.ninja_deps
.ninja_log
build.ninja
rules.ninja
