js
gmon.out
test.js
cache
obj
.config
src/config/config.h
src/ucdata.h
config.log
.sconf_temp
tools/*.pyc
src/phonic/ext/include/
src/phonic/Manifest.txt
src/phonic/lib
src/phonic/ext/iv/phonic/third_party
